// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Merriweather Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary: #199BF1;
$success: #2DB92A;
$warning: #F4A815;

$dark: #0B0D17;
$yellow: #F4A815;
$purple: #B919F1;
$white: #fff;
$green: #2DB92A;