// Fonts
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Poppins:wght@300;500;600;700;800&display=swap");

// Variables
@import "variables";
@import "font-size";
@import "utility-class";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "components/banner";
@import "components/footer";

// pages
@import "pages/lab-service.scss";
@import "pages/doctor.scss";
@import "pages/partner.scss";

body {
    padding: 0;
    margin: 0;
    font-size: 17px;
}
.app-container {
    min-height: 70vh;
    background: $white;
    overflow: hidden;

    .package-container {
        h2 {
            color: $primary;
        }
        position: relative;
        .package-card {
            .card-icon {
                width: 60px;
                height: 70px; /* width*√3/2 */
                color: $white;

                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-clip-path: polygon(
                    50% 0%,
                    100% 25%,
                    100% 75%,
                    50% 100%,
                    0% 75%,
                    0% 25%
                );
                clip-path: polygon(
                    50% 0%,
                    100% 25%,
                    100% 75%,
                    50% 100%,
                    0% 75%,
                    0% 25%
                );
                background: $primary;
            }
            .card-header {
                background: none;
                border: none;
                margin-top: 1rem;
            }
            .card-title {
                font-weight: bold;
                font-size: 14px;
            }
            .card-subtitle {
                font-size: 12px;
            }
            .package-price {
                font-weight: bold;
                font-size: 20px;
            }
            .package-list {
                list-style: none;
                color: $dark;
                padding-left: 13px !important;
                padding-top: 0.67rem;

                & li:before {
                    content: "⬢";
                    display: inline-block;
                    margin-left: -1em;
                    margin-right: 0.5em;
                    width: 1em;
                    text-align: center;
                }
            }
            .package-detail {
                padding-left: 3px !important;
            }
        }

        .package-grid {
            .package-grid-item:first-child {
                .package-card {
                    border: 1px solid $primary;
                    background: #f5fbfe !important;

                    .package-list {
                        & li:before {
                            color: $primary;
                        }
                    }
                }
            }

            .package-grid-item:nth-child(2) {
                .package-card {
                    border: 1px solid $yellow;
                    background: #fffbf5 !important;

                    .package-list {
                        & li:before {
                            color: $yellow;
                        }
                    }
                }
            }

            .package-grid-item:nth-child(3) {
                .package-card {
                    border: 1px solid $purple;
                    background: #fcf5fe !important;
                    .package-list {
                        & li:before {
                            color: $purple;
                        }
                    }
                }
            }
        }

        .package-logo {
            position: absolute;
            top: 50px;
            left: -9rem;
            opacity: 0.3;

            img {
                width: 170px;
                height: 170px;
                transform: rotate(-22.63deg);
                transform-origin: 0 0;
            }
        }

        .package-logo-large {
            position: absolute;
            bottom: -20rem;
            right: -1050px;
            opacity: 0.2;

            img {
                width: 600px;
                height: 600px;
                transform: rotate(-22.63deg);
                transform-origin: 0 0;
            }
        }
        .package-logo-8 {
            position: absolute;
            bottom: -5rem;
            left: -180px;
            opacity: 0.2;

            img {
                width: 200px;
                height: 200px;
                transform-origin: 0 0;
            }
        }
    }

    .review-container {
        padding: 5rem 0;
    }

    .partner-container {
        h2 {
            color: $primary;
        }
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        background: #f5fbff;
        position: relative;

        .partner-grid {
            .partner-grid-item .partner-card .card-body {
                background: none !important;
            }
        }

        .partner-media {
            position: relative;
            display: flex;
            justify-content: center;
        }
        .partner-media {
            --s: 260px;
            --g: 300px;

            div {
                width: var(--s);
                height: var(--g);
                background: $primary;
                border-radius: 20px;
                transition: all ease 0.2s;

                &.partner-overlay {
                    position: relative;
                    overflow: hidden;
                    left: -3rem;
                }

                -webkit-clip-path: polygon(
                    50% 0%,
                    100% 25%,
                    100% 75%,
                    50% 100%,
                    0% 75%,
                    0% 25%
                );
                clip-path: polygon(
                    50% 0%,
                    100% 25%,
                    100% 75%,
                    50% 100%,
                    0% 75%,
                    0% 25%
                );
            }

            .gallery {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                overflow: hidden;
                border: 2px solid $primary;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .package-logo {
            position: absolute;
            top: 250px;
            left: 14rem;
            opacity: 0.3;

            img {
                width: 170px;
                height: 170px;
                transform: rotate(-22.63deg);
                transform-origin: 0 0;
            }
        }

        .package-logo-small {
            position: absolute;
            top: 550px;
            left: 30rem;

            img {
                width: 120px;
                height: 120px;
                transform: rotate(-22.63deg);
                transform-origin: 0 0;
            } 
        }
    }
}
